<main>
    <div class="middle">
        <h2>Formulário</h2>

        <div *ngIf="!mobile" class="top-bar">
            <span class="personal-data">Dados pessoais</span>
            <span class="ticket">Seu ingresso</span>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="right">
                <div *ngIf="mobile" class="top-bar">Seu ingresso</div>
                <app-ticket [moreTickets]="form.get('companion').value"></app-ticket>
            </div>
            <div class="left">
                <div *ngIf="mobile" class="top-bar">Dados pessoais</div>
                <fieldset>
                    <label [ngClass]="{'error': form.get('firstName').invalid && (form.get('firstName').dirty)}">
                        <input type="text" placeholder="Primeiro Nome" formControlName="firstName" required>
                    </label>
        
                    <label [ngClass]="{'error': form.get('lastName').invalid && (form.get('lastName').dirty)}">
                        <input type="text" placeholder="Último Nome" formControlName="lastName" required>
                    </label>
        
                    <label [ngClass]="{'error': form.get('cpf').invalid && (form.get('cpf').dirty)}">
                        <input type="text" placeholder="CPF" formControlName="cpf" mask='000.000.000-00' required>
                    </label>
        
                    <label [ngClass]="{'error': form.get('birthDate').invalid && (form.get('birthDate').dirty)}">
                        <input type="text" placeholder="Data de nascimento" formControlName="birthDate" mask='00/00/0000' required>
                    </label>
        
                    <label class="full" [ngClass]="{'error': form.get('email').invalid && (form.get('email').dirty)}">
                        <input type="email" placeholder="Email" formControlName="email" required>
                    </label>
                </fieldset>

                <fieldset *ngIf="form.get('companion').value">
                    <p>Acompanhante</p>

                    <label [ngClass]="{'error': form.get('companionFirstName').invalid && (form.get('companionFirstName').dirty)}">
                        <input type="text" placeholder="Primeiro Nome" formControlName="companionFirstName" required>
                    </label>
        
                    <label [ngClass]="{'error': form.get('companionLastName').invalid && (form.get('companionLastName').dirty)}">
                        <input type="text" placeholder="Último Nome" formControlName="companionLastName" required>
                    </label>
        
                    <label [ngClass]="{'error': form.get('companionCpf').invalid && (form.get('companionCpf').dirty)}">
                        <input type="text" placeholder="CPF" formControlName="companionCpf" mask='000.000.000-00' required>
                    </label>
        
                    <label [ngClass]="{'error': form.get('companionBirthDate').invalid && (form.get('companionBirthDate').dirty)}">
                        <input type="text" placeholder="Data de nascimento" formControlName="companionBirthDate" mask='00/00/0000' required>
                    </label>
        
                    <label class="full" [ngClass]="{'error': form.get('companionEmail').invalid && (form.get('companionEmail').dirty)}">
                        <input type="email" placeholder="Email" formControlName="companionEmail" required>
                    </label>
                </fieldset>

                <label class="checkbox" [ngClass]="{'checked': form.get('companion').value}">
                    <input type="checkbox" formControlName="companion">
                    <span>Adicionar acompanhante</span>
                </label>

                <fieldset>
                    <p>Dados da entrega</p>

                    <label class="full" [ngClass]="{'error': form.get('cep').invalid && (form.get('cep').dirty)}">
                        <input type="text" placeholder="CEP" formControlName="cep" mask='00.000-000' (keyup)="sendCepRequest($event)" required>
                    </label>
        
                    <label class="full" [ngClass]="{'error': form.get('address').invalid && (form.get('address').dirty)}">
                        <input type="text" placeholder="Endereço" formControlName="address" required>
                    </label>
        
                    <label class="select" [ngClass]="{'error': form.get('country').invalid && (form.get('country').dirty)}">
                        <select formControlName="country" [ngClass]="{'default': !form.get('country').dirty}">
                            <option value="" disabled selected>País</option>
                            <option value="Brasil">Brasil</option>
                        </select>
                    </label>

                    <label class="select" [ngClass]="{'error': form.get('state').invalid && (form.get('state').dirty)}">
                        <select formControlName="state" [ngClass]="{'default': !form.get('state').dirty}">
                            <option selected="" value="" disabled>Estado</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </label>

                    <label class="full" [ngClass]="{'error': form.get('city').invalid && (form.get('city').dirty)}">
                        <input type="text" placeholder="Cidade" formControlName="city" required>
                    </label>
        
                    <label class="full" [ngClass]="{'error': form.get('phone').invalid && (form.get('phone').dirty)}">
                        <input type="text" placeholder="Telefone" formControlName="phone" mask='(00) 00000-0000' required>
                    </label>
                </fieldset>

                <button type="submit" [disabled]="!form.valid">Enviar</button>
            </div>
        </form>
    </div>
</main>

<router-outlet></router-outlet>