<main>
    <div class="middle">
        <h2>Formulário</h2>

        <div class="top-bar">
            <span class="personal-data">Dados pessoais</span>
            <span class="ticket">Seu ingresso</span>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="left">
                <fieldset>
                    <label>
                        <input type="text" placeholder="Primeiro Nome" formControlName="firstName" required>
                    </label>
        
                    <label>
                        <input type="text" placeholder="Último Nome" formControlName="lastName" required>
                    </label>
        
                    <label>
                        <input type="text" placeholder="CPF" formControlName="cpf" required>
                    </label>
        
                    <label>
                        <input type="text" placeholder="Data de nascimento" formControlName="birthDate" required>
                    </label>
        
                    <label class="full">
                        <input type="email" placeholder="Email" formControlName="email" required>
                    </label>
                </fieldset>

                <label class="checkbox" [ngClass]="{'checked': form.get('companion').value}">
                    <input type="checkbox" formControlName="companion">
                    <span>Adicionar acompanhante</span>
                </label>

                <fieldset formGroupName="address">
                    <label>
                        <input type="text" placeholder="CEP" formControlName="cep" required>
                    </label>
        
                    <label>
                        <input type="text" placeholder="Endereço" formControlName="address" required>
                    </label>
        
                    <label class="select">
                        <select formControlName="country">
                            <option value="">País</option>
                            <option value="Brasil" selected>Brasil</option>
                        </select>
                    </label>

                    <label class="select">
                        <select formControlName="state">
                            <option selected="" value="">Estado</option>
                            <option value="Acre">Acre</option>
                            <option value="Alagoas">Alagoas</option>
                            <option value="Amapá">Amapá</option>
                            <option value="Amazonas">Amazonas</option>
                            <option value="Bahia">Bahia</option>
                            <option value="Ceará">Ceará</option>
                            <option value="Distrito Federal">Distrito Federal</option>
                            <option value="Espírito Santo">Espírito Santo</option>
                            <option value="Goiás">Goiás</option>
                            <option value="Maranhão">Maranhão</option>
                            <option value="Mato Grosso">Mato Grosso</option>
                            <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                            <option value="Minas Gerais">Minas Gerais</option>
                            <option value="Pará">Pará</option>
                            <option value="Paraíba">Paraíba</option>
                            <option value="Paraná">Paraná</option>
                            <option value="Pernambuco">Pernambuco</option>
                            <option value="Piauí">Piauí</option>
                            <option value="Rio de Janeiro">Rio de Janeiro</option>
                            <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                            <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                            <option value="Rondônia">Rondônia</option>
                            <option value="Roraima">Roraima</option>
                            <option value="Santa Catarina">Santa Catarina</option>
                            <option value="São Paulo">São Paulo</option>
                            <option value="Sergipe">Sergipe</option>
                            <option value="Tocantins">Tocantins</option>
                        </select>
                    </label>

                    <label>
                        <input type="text" placeholder="Cidade" formControlName="city" required>
                    </label>
        
                    <label>
                        <input type="text" placeholder="Telefone" formControlName="phone" required>
                    </label>
                </fieldset>

                <button type="submit" [disabled]="!form.valid">Submit</button>
            </div>

            <div class="right">
                <app-ticket></app-ticket>
            </div>
        </form>
    </div>
</main>

<router-outlet></router-outlet>