main {
    margin: 30px 0 0;
    padding: 0 0 35px;

    h2 {
        font-family: arial, sans-serif;
        font-size: 28px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .top-bar {
        background: #f1f1f1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 55px;
        margin: 35px 0 0;
        
        span {
            display: block;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            text-transform: uppercase;

            &.personal-data {
                width: 60%;
                padding-left: 20px;
            }

            &.ticket {
                width: 32%;
                padding-right: 20px;
            }
        }
    }

    form {
        display: flex;
        justify-content: space-between;

        .left {
            width: 60%;
            padding: 35px 38px 0 0;
            border-right: solid 1px #f1f1f1;
        }

        .right {
            width: 32%;
            padding: 35px 0 0;
        }

        fieldset {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 65px 0 0;

            &:first-of-type {
                margin-top: 0;
            }

            p {
                color: #000;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                width: 100%;
                margin: 0 0 35px;
            }
        }

        label {
            display: block;
            width: calc((100% - 20px) / 2);
            margin: 18px 0 0;
            border: solid 1px #f1f1f1;

            &.full {
                width: 100%;
            }

            &.error {
                border-color: #B00B1E;
            }
        }

        .checkbox {
            display: block;
            width: 100%;
            border: none;

            input {
                position: absolute;
                opacity: 0;
                width: 0;
                height: 0;
                pointer-events: none;
            }

            span {
                display: block;
                font-family: arial, sans-serif;
                font-size: 16px;
                padding: 0 0 0 27px;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    width: 10px;
                    height: 10px;
                    margin: auto 0;
                    border: solid 1px rgba(0, 0, 0, 0.5);
                }
            }

            &.checked {
                span:before {
                    background: url('/assets/images/components/form/check.svg') no-repeat center / contain;
                }
            }
        }

        input,
        select {
            display: block;
            color: #000;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            width: 100%;
            height: 40px;
        }

        input {
            padding: 0 10px;

            ::placeholder {
                color: rgba(0, 0, 0, 0.6);
            }
        }

        select {
            padding: 0 40px 0 10px;
        }

        .select {
            position: relative;

            &:after {
                content: '';
                background: url('/assets/images/components/form/arrow-down.svg') no-repeat center / 10px auto;
                width: 40px;
                height: 25px;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto 0;
                border-left: solid 1px #f1f1f1;
                pointer-events: none;
            }
        }

        button[type='submit'] {
            background: #1056ab;
            display: block;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            text-transform: uppercase;
            width: 195px;
            height: 50px;
            margin: 35px 0 0 auto;

            &:disabled {
                opacity: 0.7;
            }
        }
    }
}