<div class="movie">
    <div class="image">
        <img src='' alt=''>
    </div>
    <div class="detail">
        <span>Ingresso</span>
        <span></span>
        <span class="value"></span>
    </div>
</div>

<div class="price">
    <div class="line">
        <span>Sub Total</span>
        <span class="value">R$20,00</span>
    </div>

    <div class="line">
        <span>Frete</span>
        <span class="value">R$10,00</span>
    </div>
</div>

<div class="total">
    <span>Total</span>
    <span class="value">R$30,00</span>
</div>